
<%= form_with(model: upload, local: true) do |form| %>

  <div class="upload_field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="upload_field">
    <%= form.label :file%>
    <%= form.file_field :file %>
  </div>

  <div class="upload_field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>